

*{margin:0;
padding:0;
}
.navbar-default {
    border-color: transparent;
    background-color:transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
	font-size:16px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
  color:#2dd914;


}
.logo img{

  width:130px;
}
.navbar-nav
{
margin-top:30px;
}
#slider{
background:url(../images/bck.jpg)no-repeat;background-size:cover;height:600px;
}
.item{
padding:100px 0;
color:#fff;
}
.item h3{
font-size: 40px;
}
.item h2{
font-size: 100px;
border: 2px solid #fff;
max-width: 670px;
margin: 0 auto;
padding: 10px;
}
.item h4{
font-size: 36px;
}
.item span{

  color:#2dd914;
}

#about{
padding:110px 0;

}
.about-top h2{
text-transform:uppercase;
font-weight:bold;
font-size:36px;
}
.about-top p{
max-width:700px;
font-size:16px;
margin:0 auto;
margin-bottom:60px;
}
.about-icon{

}
.about-icon i{
    width: 80px;
    height: 80px;
    background: #282828;
    color: #fff;
    border-radius: 100%;
    font-size: 30px;
    line-height: 78px;
    transition: all .5s ease;


}
.about-icon p{

}
#service{
background:#e1e1e1;
padding:90px 0;
}
.about-icon img{
width:100%;
}
.about-icon {
position: relative;
overflow: hidden;

}
.about-overlay{
position: absolute;
background: rgba(0,0,0,.5);
width: 100%;
height:100%;
top:-100%;
transition:.5s;

}
.about-icon:hover .about-overlay{

top:0;

}
.icon{
    position: absolute;
    bottom: -100%;
    left: 40%;
    transition:.5s;
}
.icon i{
width: 40px;
height: 40px;
border: 1px solid #fff;
border-radius: 100%;
font-size: 15px;
line-height: 40px;
color: #fff;

}
.about-icon:hover .icon{

bottom: 40%;

}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #000;
  border: none;
 text-transform: uppercase;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
  margin-bottom: 40px;
}

.button:hover {
  background-color: #8CF;
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
}


/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0;
  margin-left: 7px;
  margin-right: 1px;
}
#portfolio{

  padding: 100px 0;

}

#portfolio p{
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#portfolio h2{
text-transform: uppercase;
font-weight: bold;
}
/* ---- isotope ---- */

.grid {
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 33%;
  color: #262524;
   border: 12px solid #fff;
overflow: hidden;
}
.isotope-overlay{
position: absolute;
background: rgba(0,0,0,.5);

width: 100%;
height: 100%;
trasition:.5s;
top:-100%;

}
.isotope-overlay h2{

  color:#87d37c;
  margin-top: 130px;
}
.element-item:hover .isotope-overlay
{
top:0;
}

.element-item img {
 width: 100%;
 height: 100%;
 }

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
#pricing-table{
  padding: 100px 0;
}
.pricing{
background: #39393a;
color:#fff;
border-radius: 5px;
padding: 20px;
}
.pricing-top{
  width: 140px;
  height: 140px;
  margin:0 auto;
  border: 2px solid #fff;
  border-radius: 100%;
}

.pricing-top p{
  margin-top: 20px;
}



.pricing-top sup{
  top: -1px;
font-size: 20px;

}
.pricing-top em{
  font-size: 25px;
}


.pricing-top span{
font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
}

.pricing ul{

padding: 0;
}
.pricing ul li{
max-width: 145px;
    border-bottom: 2px solid #fff;
    list-style: none;
    padding: 12px 0;
    margin: 0 auto;
    font-size: 16px;
}
.btn{
background: #fff;
    color: #39393a;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
    margin-top: 10px;
    padding: 5px 20px;
}

#counterup{
background:url(../images/counter.jpg)no-repeat;background-size:cover;

}
.coverlay{
background-color: rgba(0,0,0,.5);
width: 100%;

}
.countercontent{
padding-top: 100px;
    padding-bottom: 230px;
}


.count{
border:1px solid #5f5150;
color: #fff;
padding: 15px 0;
background-color: rgba(0,0,0,.7);
}
.count span{

  font-size: 30px;
}